@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Exo', sans-serif !important;
  @apply bg-lighter text-default;
}

* {
  border-color: var(--border);
}

.vue-popover-theme {
  z-index: 99;
}

.mdi-icon{
  transition: transform .2s ease;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.group:hover .group-hover\:visible {
  visibility: visible;
}

.vue-popover-theme:focus{
  outline: none;
  div, .popover-inner{
    outline: none;
  }
}

.CodeMirror-overlayscroll-vertical div{
  background-color: #12151b !important;
}

.scroll::-webkit-scrollbar {
  width: 7px;
  height: 9px;
}

.scroll::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.15);
  border-radius: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
}

// TODO Custom test ; à mettre ailleurs

.vue-heading{
  font-size: 36px;
  font-weight: bold;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-wrap: wrap;
}

.title-underline{
  height: 3px; 
  background: rgba(255, 255, 255,.7);
  clear: both;
  border-radius: 2px;
  overflow: hidden;
}

.sign-form{
  margin: 20px;

  form{
    margin: 10px 15px;

    input{
      transition: all .1s;
      border: 3px solid rgba(255, 255, 255,0); 

      &:focus{
        border: 3px solid rgb(76, 168, 253); 
      }

      &[type="submit"]{
        cursor: pointer;
      }
      border-radius: 3px;
      overflow: hidden;

      &.input-error{
        border: 2px solid red;
      }
    }

    #logIn-btn, #signUp-btn{
      position: relative;
      display: flex;
      align-items: center;

      .form-input-icon{
        position: absolute;
        margin-left: 20px;
      }
    } 
  }
}

@keyframes spinner-two {
  0% {transform: rotate(0deg)}
  to {transform: rotate(359deg)}
}

.gg-spinner-two {
  transform: scale(var(--ggs,1));
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 20px
}

.gg-spinner-two::after,
.gg-spinner-two::before {
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  border-radius: 100px
}

.gg-spinner-two::before {
  animation: spinner-two 1s cubic-bezier(.6,0,.4,1) infinite;
  border: 3px solid transparent;
  border-bottom-color: currentColor;
  border-top-color: currentColor
}

.gg-spinner-two::after {
  border: 3px solid;
  opacity: .2
}

#navBar{
  z-index: 99999;
  position: static;
  width: 100vw;
  background-color: rgba(20, 20, 20, 0.8);
  height: 64px;
}

main{
  min-height: calc(100vh - 64px);
}