$baseColors: (
  'primary': #5e9afc,
  'secondary': #4E54C8,
  'danger': #f56565,
  'green': #36b37e,
  'warning': #ffab00,
);

$lightTheme: (
  'bg-dark': #e2e8f0,
  'bg-default': #edf2f7,
  'bg-lighter': #f7fafc,
  'bg-input': rgba(0, 0, 0, 0.05),
  'bg-input-dark': rgba(0, 0, 0, 0.1),
  'bg-card': white,
  'text-default': #0e0e11,
  'text-light': #4A5568,
  'text-lighter': #718096,
  'border': rgba(14, 14, 17, .1),
);

$darkTheme: (
  'bg-dark': #1a192b,
  'bg-default': #202136,
  'bg-lighter': #292a42,
  'bg-input': rgba(0, 0, 0, 0.2),
  'bg-input-dark': hsla(0, 0%, 0%, 1),
  'bg-card': #202136,
  'text-default': white,
  'text-light': #cacaca,
  'text-lighter': hsla(0, 0%, 100%, 0.77),
  'border': rgba(255, 255, 255, 0.15),
);
