#errorPage{
    padding-top: 100px;

    .img-container{
        font-size: 150px;
        line-height: 500px;
        text-align: center;
    }

    img{
        margin: auto;
        width: 500px;
        height: 500px;
    }
}